<mat-progress-spinner class="example-margin" *ngIf="loading" [color]="color" [mode]="mode" [value]="value">
</mat-progress-spinner>
<div class="spinner-background" *ngIf="loading"></div>

<div class="card card-nav-tabs">
    <div class="card-header card-header-warning">
        <h4 class="card-title">Properties</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                    <tr>
                        <th>
                            Address
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Postal Code
                        </th>
                        <th class="text-right">
                            MLS Number
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of property let i = index">
                        <td>
                            {{ item.property_address }}
                        </td>
                        <td>
                            {{ item.city  }}
                        </td>
                        <td>
                            {{ item.postal_code }}
                        </td>
                        <td class="text-right">
                            {{ item.mls_number }}
                        </td>
                        <td class="text-right"><button type="button" class="btn btn-info"
                                (click)="open(content, item)">Transfer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>

<!-- {{ selectedAccount || json}} -->

<!-- --------------------------------------------- -->

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Transfer</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <label for="">FROM</label>
            <!-- <select class="form-control" [value]="from_account"></select> -->
            <input disabled type="text" class="form-control" [value]="from_account">
        </div>
        <div class="row"><br></div>
        <div class="row">
            <label for="">TO</label>
            <!-- <select class="form-control"></select> -->
            <br>
            <select class="form-control" [(ngModel)]="selectedAccount">
                <option *ngFor="let c of to_account[0]" [ngValue]="c">{{c}}</option>
            </select>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark"
            (click)="modal.close('Save click'); transfer()">Transfer</button>
    </div>
</ng-template>